body {
    margin: 0;
    padding: 0;
    font-family: "Sour Gummy", sans-serif;
    background-color: purple;
}

h1,
.leftScore,
.rightScore {
    border: 2px solid white;
}

h1 {
    width: fit-content;
    margin: 0;
    font-size: 70px;
    margin-bottom: 30px;
}

.leftScore h1,
.rightScore h1 {
    font-size: 200px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.main-content {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    height: 500px;
    width: 500px;
    border-radius: 15px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.square {
    height: 100%;
    width: 100%;
    font-size: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftScore,
.rightScore {
    display: flex;
    justify-content: center;
    align-items: center;
}