body {
    margin: 0;
    padding: 0;
}

h1 {
    border: 2px solid white;
}

h1 {
    width: fit-content;
    margin: 0;
    font-size: 50px;
    margin-bottom: 30px;
}

.main-content {
    height: 100vh;
    width: 100vw;
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    height: 500px;
    width: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.square {
    height: 100%;
    width: 100%;
    background-color: white;
}